.app-container {
  display: flex;
  width: 100%;
  height: 100vh;
  padding: 1rem;
  gap: 1rem;
  box-sizing: border-box;
}

.box {
  background-color: rgba(13, 16, 28, 0.9);
  border-radius: 16px;
  height: 100%;
}

.left-panel {
  flex: 1;
}

.right-panel {
  flex: 2;
}
